
// containers
.container{
    margin: 0 auto;
    padding: 10px 20px;

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .container{
        width: 95%;
        // background-color: grey;

    
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .container{
        // width: 720px;
        width: 95%;

        // background-color: red;

    
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container{
        // width: 960px;
        width: 95%;

        // background-color: black;    
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container{
        // width: 1140px;
        width: 90%;

        // background-color: blueviolet;

    
    }
 }
 // container End
// // ######################################################
// start variables
$main_font : 'Work Sans', sans-serif;
// color from :
// https://www.canva.com/colors/color-palettes/mermaid-lagoon/

:root{
    --baby-color : #B1D4E0;
    --blue-color : #2E8BC0;
    --over-blue : #299fe3;
    --gray-color:#839199;
    --dark-blue : #0C2D48;
    // --Midnight-blue : #145DA0;
    
        --Midnight-blue : #134675;
// 

    --slow-transition : 0.3s;
    --nav_height : 100px;

    
}
// end variables


// // #########################################
// // IconMoon
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?6wgaqw');
    src:  url('fonts/icomoon.eot?6wgaqw#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?6wgaqw') format('truetype'),
      url('fonts/icomoon.woff?6wgaqw') format('woff'),
      url('fonts/icomoon.svg?6wgaqw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before {
    content: "\f002";
  }
  .icon-heart:before {
    content: "\f004";
  }
  .icon-star:before {
    content: "\f005";
  }
  .icon-user:before {
    content: "\f007";
  }
  .icon-plus-circle:before {
    content: "\f055";
  }
  .icon-chevron-down:before {
    content: "\f078";
  }
  .icon-shopping-cart:before {
    content: "\f07a";
  }
  .icon-facebook-square:before {
    content: "\f082";
  }
  .icon-github-square:before {
    content: "\f092";
  }
  .icon-twitter:before {
    content: "\f099";
  }
  .icon-chain:before {
    content: "\f0c1";
  }
  .icon-link:before {
    content: "\f0c1";
  }
  .icon-pinterest:before {
    content: "\f0d2";
  }
  .icon-bell:before {
    content: "\f0f3";
  }
  .icon-angle-double-up:before {
    content: "\f102";
  }
  .icon-instagram:before {
    content: "\f16d";
  }
  .icon-file_copy:before {
    content: "\e900";
  }
  
// #########################################



// Start GLobal rules
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $main_font;
    background-color: var(--dark-blue);

}
html {
    scroll-behavior: smooth;
  }
  

*,h1,h2,h3,a,ul,li,button,span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;

}
section{
    margin-top: 50px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    // you must ajust the hight to make aligne items work
}
.section_title{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

// End GLobal rules

// ##################################:
//top header start 
// #top_header{
//     background-color: var(--Midnight-blue);
//     height: max-content;
//     a{
//         color: var(--baby-color);
//         transition: var(--slow-transition);
        
//         &:hover{
//             color: var(--blue-color);
//         }
//     }
//     #main_nav{
       
//         ul{
//             display: flex;
//         }

//         .container{
//             width: 90%;

//         }
//         .nav_content{
//             // display: flex;
//             // justify-content: space-between;
//             // align-items: center;
//             // display: grid;
//             // grid-template-rows: 70px;
//             // grid-template-columns: repeat(3,1fr);
//             // align-items: center;
//             // justify-content: center;
//             height: 100px;

//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             grid-template-rows: 50px;

         

         
//             .logo{
//                 width: 200px;
//                 grid-column: 1/3;
//                 margin: 0 auto;

              
//                 img{
//                     width: 100%;
//                     height: 100%;
//                 }

//             }

//             .midle_nav_items{
//                 justify-content: flex-start;

//                 ul li{
//                     margin: 0 10px;
//                 }
//                 span{
//                     font-size: 24px;
//                 }
//             }
//             .links_nav_btn{
//                 display: flex;
//                 justify-content: flex-end;
//                 #nav_btn{
//                     width: 50px;
//                     height: 50px;
//                     padding: 8px;
//                     cursor: pointer;

//                     &:hover span{
//                         background-color: var(--blue-color);
//                         transition: var(--slow-transition);
//                     }
                  

//                     span{
//                         display: block;
//                         background-color: #B1D4E0;
//                         width: 30px;
//                         height: 5px;
//                         border-radius: 10px;

//                         &:nth-child(2){
//                             margin: 5px 0px;
//                         }
//                     }
//                 }
            
//             }
            








//         }
//     }

//     .links_nav_is_off{
//         width: 0%;
//         opacity: 0;
//         visibility: hidden;
//     }
//     .links_nav_is_on{
//         width: 50%;
//         opacity: 1;
//         visibility: visible;

       
//     }

//     #links_nav{
//         height: 100vh;
//         background-color: var(--Midnight-blue);
//         position: fixed;
//         top: var(--nav_height);
//         right: 0;
//         transition: var(--slow-transition) ease;

//         .links_nav_content{
//             height: 100%;

//             ul{
//                 height: 100%;
//                 flex-direction: column;

//             }
//             li{
//                 margin: 20px 0px;
                
//             }
//             a{
//                 position: relative;
//                 &::after{
//                     position: absolute;
//                     content: "";
//                     width: 100%;
//                     height: 3px;
//                     background-color: var(--baby-color);
//                    display: block;
//                     transform: scaleX(0);
//                     transition: transform var(--slow-transition) ease-in-out;
                    
//                 }
    
                
//                 &:hover{
//                     color: var(--baby-color);
//                     font-weight: 600;
//                     &::after{
//                         transform: scale(1);

//                     }
//                 }

//             }
//         }

//     }

// }
//top header end
// ##################################:
#main_header{
    z-index: 999;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--Midnight-blue);
    .container{}
    .main_header_content{

        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 200px;
            overflow: hidden;
            @media(max-width:768px){
                width: 150px;
            }

            img{
                width: 100%;
                height: 100%;
            }
        }
        a{
            padding: 10px;
            color: var(--baby-color);
            transition: var(--slow-transition);

            &:hover{
                // color: var(--blue-color);
                color: var(--over-blue);
                font-weight: 600;
            }
        }

        ul{
            display: flex;
            
        }

        .nav_links{
            #mb_nav_btn{
                position: fixed;
                top: 20px;
                right: 20px;;
                z-index: 999;

                cursor: pointer;
                display: none;
                flex-direction: column;
                width: 30px;
                height: 30px;
                transition: var(--slow-transition);
                &:hover span{
                    background-color: var(--over-blue);
                }

               span{
                   width: 100%;
                   height: 5px;
                   background-color: var(--baby-color);
                   border-radius: 10px;
                   &:nth-child(2){
                       margin: 5px 0px;
                   }
               }

            }
            @media(max-width:767px){
                #mb_nav_btn{
                    display: flex;
                }
            }

            nav{
                transition: var(--slow-transition) ease-out;
                @media(max-width:767px){
                    background-color: var(--Midnight-blue);
                    position: fixed;
                    top: 70px;
                    right: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: 99;
                    // ################################
                    width: 0px;
                    height: 0px;
                    border-radius: 0% 0% 0% 50%;
                    opacity: 0;
                    visibility: hidden;
                    ul{
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    
                    }
                    li{
                        margin: 20px 0px;
                    }
                }
            }
            .open_mb_nav{
                width: 102%;
                height: 80vh;
                border-radius: 0% 0% 0% 100%;
               
                visibility: visible;
                opacity: 1;
            }

            li{
                margin: 0px 5px;
                a{
                
                    position: relative;

                    &::after{
                        position: absolute;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 3px;
                        border-radius: 10px;
                        background-color: var(--over-blue);
                        transition: var(--slow-transition) ease-in-out;
                        transform: scaleX(0);

                    }
                    &:hover{
                        &::after{
                            transform: scaleX(0.8);
                        }
                    }
                }


            }


        }
        .user_links{
            @media(max-width:768px){
                background-color: var(--Midnight-blue);
                width: 100%;
                height: 40px;
                position: fixed;
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                li{
                    margin: 0px 10px;
                }
            }
            ul{

                li{
                    a{
                        font-size: 18px;
                    }
                   
                }
            }


        }

        


    }
}

// #main heaader end 
// ################################################

.extra_show{
    margin-top: 100px;
    .container{

    }

    .extra_show_content{
        height: 70vh;

        .item{
            width: 100%;

            height: 100%;
            
            .item_big{
                // background-image: url(https://cdn.shopify.com/s/files/1/0337/2734/8781/files/shop31_home_banner1.jpg);
                background-image: url(https://hb.imgix.net/eff21a2d1510373ac10d1512bd4fa470a5ec4ada.jpg?auto=compress,format&fit=crop&h=353&w=616&s=be5b568aa7a3c6a79b97c381ed623541);
                width: 100%;
                
                height: 100%;
            }
            .item_simple{
                &:nth-child(1){
                    background-image: url(https://cdn.shopify.com/s/files/1/0337/2734/8781/files/shop30_home_banner3.jpg);

                }
                &:nth-child(2){
                    background-image: url(https://www.gannett-cdn.com/presto/2021/05/14/USAT/acee7f67-a20f-426a-a66d-984969049dc1-Galaxy-Global-Assets-Range1-Blog-post-16x9-4K-04-26apr21-FI.jpg);

                }
            }


        }

        @media (max-width:767px){
            height: 140vh;
        }
        width: 100%;
        display: flex;
        align-items: center;

        @media (max-width:767px) {
            flex-direction: column;
            .item{
            
    
                &:nth-child(1){
                    
    
                }
                &:nth-child(2){
    
                    .item_simple{
                        width: 100%;
                        height: 50%;
                        &:nth-child(1){
                            margin: 20px 0px;
                            // background-image: url(https://cdn.shopify.com/s/files/1/0337/2734/8781/files/shop30_home_banner3.jpg);
                        }
                        &:nth-child(2){
            
                            // background-image: url(https://www.gannett-cdn.com/presto/2021/05/14/USAT/acee7f67-a20f-426a-a66d-984969049dc1-Galaxy-Global-Assets-Range1-Blog-post-16x9-4K-04-26apr21-FI.jpg);
                        }
            
                    }
                }
              
                
            }
        }
        @media (min-width:767px) {
            .item{
            
           
    
                &:nth-child(1){
                    width: calc(100% - (100%/3));
                    padding-right: 20px;
    
                }
                &:nth-child(2){
                    padding-bottom: 20px;
                    width: calc(100%/3);
    
                    .item_simple{
                        width: 100%;
                        height: 50%;
                        &:nth-child(1){
                            margin-bottom: 20px;
                            // background-image: url(https://cdn.shopify.com/s/files/1/0337/2734/8781/files/shop30_home_banner3.jpg);
                            background-image: url(https://cdn.wccftech.com/wp-content/uploads/2020/06/PS5-Reveal.jpg);
                        }
                        &:nth-child(2){
            
                            background-image: url(https://www.gannett-cdn.com/presto/2021/05/14/USAT/acee7f67-a20f-426a-a66d-984969049dc1-Galaxy-Global-Assets-Range1-Blog-post-16x9-4K-04-26apr21-FI.jpg);
                        }
            
                    }
                }
              
                
            }
        }
        
        .background_class{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;

            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // z-index: 99;
                opacity: 0.2;
                transition: var(--slow-transition);
                background: rgb(255,255,255);
                background: linear-gradient(152deg, rgba(255,255,255,0) 0%, rgba(12,45,72,1) 85%);
            }
            &:hover{
                &::before{
                    opacity: 0.8;
                }
            }
            // for shop_now_link right to not over flow from right


            &:hover .shop_now_link{
                opacity: 1;
                visibility: visible;
                right: 20px;


            }

        }
        .shop_now_link{
            // transition: var(--slow-transition) ease;
            opacity: 0;
            visibility: hidden;
            right: -40px;
            // width: max-content;
            // height: max-content;
            // background-color: var(--Midnight-blue);
            // color: var(--baby-color);
            // font-weight: 600;
            position: absolute;
            bottom: 20px;
            border-radius: 5px;
            
        }
        .item_big,.item_simple{
            position: relative;
        }
        .item_big{
            .shop_now_link{
                padding: 20px 40px;
            }
        }
        .item_simple{
            .shop_now_link{
                padding: 10px 20px;
            }
        }



     



    }
}

.off_discont{
    width: max-content;
    padding: 10px;
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 5px;
    span{
        font-weight: 600;
        color: var(--baby-color);
    }

}
.off_discont_type1{
    background-color: var(--Midnight-blue);

}
.off_discont_type2{
    background-color: rgb(223, 99, 54);
    transform: rotate(-10deg);
    
    span{
        color: white;
        &::before{
            content: 'up to';
            height: max-content;
            position: absolute;
            right: 0px;
            top: -15px;
            background: white;
            width: 100%;
            text-align: center;
            color: #df6336;
    
        }
    }

}
.confirm {
    background-color: var(--dark-blue);
    font-weight: 600;
    border-radius: 5px;
    // bottom: 20px;
    // right: 20px;
    // position: absolute;
    // #######################
//   position: relative;
  display: inline-block;
//   padding: 10px 20px;
  color: var(--blue-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.confirm:hover {
  background: var(--blue-color);
  color: var(--baby-color);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px var(--blue-color), 0 0 25px var(--blue-color), 0 0 50px var(--blue-color), 0 0 100px var(--blue-color);
          box-shadow: 0 0 5px var(--blue-color), 0 0 25px var(--blue-color), 0 0 50px var(--blue-color), 0 0 100px var(--blue-color);
}

.confirm span {
  position: absolute;
  display: block;
}

// .confirm span:nth-child(1) {
//   top: 0;
//   left: -100%;
//   width: 100%;
//   height: 2px;
//   background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--blue-color)));
//   background: linear-gradient(90deg, transparent, var(--blue-color));
//   -webkit-animation: btn-anim1 1s linear infinite;
//           animation: btn-anim1 1s linear infinite;
// }

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}



// ##########################################
.freatures_extra_show{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    @media(max-width:768px){
        display: block;
        margin-top: 70px;


    }
    .item{
        line-height: 1.2rem;
        width: calc(100%/3);
       
        text-align: center;
       // center with flext class .flex-center
       flex-direction: column-reverse;


       &:hover{
           .icon{
               transform: translateY(-5px);
           }
       }
        .text{

        }
        .icon{


            transition: var(--slow-transition) ease;

            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            overflow: hidden;
            svg{
                width: 100%;
                height: 100%;
            }
        }
        

        &:nth-child(2){

        }
        &:nth-child(1){
            border-right: 1px solid var(--gray-color);


        }
        &:nth-child(3){
            border-left: 1px solid var(--gray-color);

        }
        span{
            display: block;
         
        }
        .title{
            color: white;
            font-weight: 600;
            

        }
        .desc{
            font-size: 0.8rem;
            color: var(--gray-color);

        }

        @media(max-width:768px){
            width: 100%;
            text-align: center;
            padding: 10px 0px;

            &:nth-child(2){
                padding: 10px 0px;
                border-top: 1px solid var(--gray-color);
                border-bottom: 1px solid var(--gray-color);
                border-right: 0px;
                border-left: 0px;
            }
            &:nth-child(1),&:nth-child(3){
                border: 0px;
            }            
        }
    }

}
// ##########################################
.img_info{
    position: relative;
    height: 80%;
    img{
        width: 100%;
        height: 100%;
    }
    overflow: hidden;
    &:hover .view_item_btn{
        visibility: visible;
        opacity: 0.8;
        height: 50px;
    }
    .view_item_btn{
        background-color: var(--blue-color);
       
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 50px;
        height: 0px;
        transition: 0.2s ease;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        &:hover{
            background-color: var(--over-blue);
            opacity: 1;
        }

        a{
            display: block;
            color: var(--baby-color);
            font-weight: 700;
        }
    }
    .item_discount{
        position: absolute;
        color: white;
        font-weight: 600;
        background-color: var(--blue-color);
        width: max-content;
        padding: 0px 10px;
        line-height: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 10px;
        text-align: center;
        
    }
    .action_btns{
        top: 10px;
        right: -50px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: var(--slow-transition) ease;
        span{
            cursor: pointer;
            padding: 10px;
            border: 0px;
            border-radius: 50%;
            font-size: 18px;
            background: var(--blue-color);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease;
            margin-bottom: 5px;
            &:hover{
                background-color: var(--Midnight-blue);
            }
        }
        .add_to_card_btn{
           
        }
        .add_to_wich_list_btn{

        }
    }
    &:hover .action_btns{
        right: 10px;
        opacity: 1;
        visibility: visible;
    }

}
.item_info{
    line-height: 22px;
    .tags{
        a{
            color: var(--blue-color);
            font-size: 0.7rem;
            &:hover{
                color: var(--over-blue);
                text-decoration: underline;
            }
            &::after{
                content: ',';
            }
        }
    }
    .item_title{
        color: white;
        font-weight: 700;
        
    }
    .item_rate{
        height: 20px;
        &::before,&::after{
            font-size: 1.4rem;
            line-height: 20px;
            color: var(--baby-color);
        }
        &::after{
            color: var(--Midnight-blue);
        }

    }
    .item_rate.stars5{
        &::before{
            content: '★★★★★';

        }
       
    }
    .item_rate.stars4{
        &::before{
            content: '★★★★';
            
        }
        &::after{
            content: '★';
        }

       
    }
    .item_rate.stars3{
        &::before{
            content: '★★★';

        }
        &::after{
            content: '★★';
        }
       
    }
    
    .item_price{
       .price{
        font-weight: 700;

        &::before{
            content: '$';
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
       }
        .price.price_before{
            text-decoration: line-through;
            font-size: 1rem;
            color: var(--gray-color);
        }
        .price.price_now{
            font-size: 1.3rem;
            color: var(--baby-color);

        }
    }

}
// ##########################################
// ##########################################
// offers_section
// ##########################################

.offers_section{
    .container{

    }
    .section_title{
       
    }

    .offers_content{
        // display: flex;
        flex-wrap: wrap;

        .item{
            padding: 20px 10px;
            width: 250px;
            height: auto;

        }
     


    }



}
// ###########################################################
// add_section
// #############################################################
.add_section{
    hr{
        border: 1px solid var(--baby-color);
    }

    .container{
        flex-wrap: wrap;

    }
    .add_info{
        text-align: center;
        width: 600px;
        h2{
            color: var(--baby-color);

        }
        p{
            color: var(--over-blue);
        }
        .shop_now_add_info_btn{
            padding: 10px;
            border: 1px solid var(--blue-color);
            margin-top: 10px;
        }
    }
    .add_img{

    }
}
// ##################################################
// popular_games_section
// #############################"#######################

.popular_games_section{

    .container{

    }
    .section_title{}

    .popular_games_content{
        display: flex;
        flex-wrap: wrap;

    }
    .slider{
        width: 25%;
        padding: 20px 10px;
        text-align: center;
        border: 1px solid var(--Midnight-blue);
        border-radius: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
        .item{
            // position: absolute;
            width: 100%;
            
        }
       
    }

    .slider_content{
        height: 430px;        // for position absolute problems

        width: 300%;
        display: flex;
        z-index: 99;
        left: -0%;
        position: absolute;
        transition: var(--slow-transition) ease;

    }
    .slider_controller{
        width: 100%;
        // height: 20px;
        margin-top: 470px;
        span{
            background-color: var(--Midnight-blue);
            margin: 0px 5px;
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.1s ease;
            &:hover{
                border: 2px solid var(--baby-color)

                // background-color: var(--blue-color);
            }
        }
        .bolet_active{
            border: 2px solid var(--baby-color)
        }
    }






    .other_games{
        width: 75%;
        flex-wrap: wrap;
        .item{
            padding: 0px 10px;
            margin: 40px 0px;
            width: 200px;
            height: 350px;
            text-align: center;

        }
    }
    @media (max-width:768px){
        .slider,.other_games{
            width: 100%;
        }
      .slider{
          .item{
              width: 100%;
          }
      }

    }
    @media (max-width:480px){
        .slider{
            .item{
                width: 100%;
            }
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .deals_section{
    height: 500px;

    
      .container{
          height: 100%;
      }
      .confirm{
        padding: 20px;
        position: absolute;
        transition: 0.2s ease;
        transition-delay: 0.2s;
    }
      .swiper-slide{
          img{
              width: 100%;
              height: 100%;
          }
          .slid_item_info{
              position: absolute;
          }
          .key_bord_slid_info{
              bottom: 50px;
              width: 85%;
            
              .confirm{
                  margin-top: 20px;

              }
          }
          &:hover .slider_shadow{
              bottom: 0%;
          }
          &:hover .confirm{
              opacity: 1;
              visibility: visible;
          }
      }
      .play_station_slid_add{
        .confirm{
            bottom: 20px;
            left: 20px;
            padding: 20px;
            
        }
      }
      .cyber_panck_slider_add{
          .confirm{
              bottom: 40px;
              padding: 15px;
          }
      }
      .xbox_slider_add{
          .confirm{
            top: 50%;
            left: 10%;
          }
      }
      .keyboard_slid_add{
        .confirm{
            bottom: 0px;
            right: -30px;
          }
      }
      .confirm{
          opacity: 0;
          visibility: hidden;
      }
      .slider_shadow{
        width: 100%;
        background-color: black;
        position: absolute;
        bottom: -70%;
        left: 0;
        height: 0%;
        box-shadow: 0px 40px 175px 64px var(--baby-color);
        transition: var(--slow-transition) ease;
      }
    
      
  }