@charset "UTF-8";
@import url(fonts/style-icon-moon.css);
.container {
  margin: 0 auto;
  padding: 10px 20px;
}

@media (min-width: 576px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

:root {
  --baby-color: #B1D4E0;
  --blue-color: #2E8BC0;
  --over-blue: #299fe3;
  --gray-color:#839199;
  --dark-blue: #0C2D48;
  --Midnight-blue: #134675;
  --slow-transition: 0.3s;
  --nav_height: 100px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--dark-blue);
}

#main_body {
  margin-top: 70px;
}

html {
  scroll-behavior: smooth;
}

*, h1, h2, h3, a, ul, li, button, span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  margin-top: 50px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_title {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.view_item_btn {
  background-color: var(--blue-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  height: 0px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

.view_item_btn:hover {
  background-color: var(--over-blue);
  opacity: 1;
}

.view_item_btn:hover a {
  color: white;
}

.view_item_btn a {
  display: block;
  color: var(--baby-color);
  font-weight: 700;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--Midnight-blue);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: var(--over-blue);
}

#main_header {
  z-index: 999;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--Midnight-blue);
}

#main_header .main_header_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_header .main_header_content .logo {
  width: 150px;
  overflow: hidden;
}

@media (max-width: 768px) {
  #main_header .main_header_content .logo {
    width: 150px;
  }
}

#main_header .main_header_content .logo img {
  width: 100%;
  height: 100%;
}

#main_header .main_header_content a {
  color: var(--baby-color);
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
  padding: 40px 10px;
}

#main_header .main_header_content a:hover {
  color: var(--over-blue);
  background-color: var(--dark-blue);
  font-weight: 600;
}

#main_header .main_header_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main_header .main_header_content .mb_nav_open_style span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

#main_header .main_header_content .mb_nav_open_style span:nth-child(2) {
  opacity: 0;
}

#main_header .main_header_content .mb_nav_open_style span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(1px, 3px);
          transform: rotate(-45deg) translate(1px, 3px);
}

#main_header .main_header_content .nav_links #mb_nav_btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  height: 30px;
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
}

#main_header .main_header_content .nav_links #mb_nav_btn:hover span {
  background-color: var(--over-blue);
}

#main_header .main_header_content .nav_links #mb_nav_btn span {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 100%;
  height: 5px;
  background-color: var(--baby-color);
  border-radius: 10px;
}

#main_header .main_header_content .nav_links #mb_nav_btn span:nth-child(2) {
  margin: 5px 0px;
}

@media (max-width: 767px) {
  #main_header .main_header_content .nav_links #mb_nav_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#main_header .main_header_content .nav_links nav {
  -webkit-transition: var(--slow-transition) ease-out;
  transition: var(--slow-transition) ease-out;
}

@media (max-width: 767px) {
  #main_header .main_header_content .nav_links nav {
    background-color: var(--Midnight-blue);
    position: fixed;
    top: 70px;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    width: 0px;
    height: 0px;
    border-radius: 0% 0% 0% 50%;
    opacity: 0;
    visibility: hidden;
  }
  #main_header .main_header_content .nav_links nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  #main_header .main_header_content .nav_links nav li {
    margin: 20px 0px;
  }
}

#main_header .main_header_content .nav_links .open_mb_nav {
  width: 102%;
  height: 80vh;
  border-radius: 0% 0% 0% 100%;
  -webkit-box-shadow: 0px 12px 10px -11px var(--baby-color);
          box-shadow: 0px 12px 10px -11px var(--baby-color);
  visibility: visible;
  opacity: 1;
}

#main_header .main_header_content .nav_links li {
  margin: 0px 5px;
}

#main_header .main_header_content .nav_links li a {
  position: relative;
}

#main_header .main_header_content .nav_links li a::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--over-blue);
  -webkit-transition: var(--slow-transition) ease-in-out;
  transition: var(--slow-transition) ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#main_header .main_header_content .nav_links li a:hover::after {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

@media (max-width: 768px) {
  #main_header .main_header_content .user_links {
    background-color: var(--Midnight-blue);
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main_header .main_header_content .user_links li {
    margin: 0px 10px;
  }
}

#main_header .main_header_content .user_links ul li a {
  font-size: 18px;
}

.off_discont {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 5px;
}

.off_discont span {
  font-weight: 600;
  color: var(--baby-color);
}

.off_discont_type1 {
  background-color: var(--Midnight-blue);
}

.off_discont_type2 {
  background-color: #df6336;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.off_discont_type2 span {
  color: white;
}

.off_discont_type2 span::before {
  content: 'up to';
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  right: 0px;
  top: -15px;
  background: white;
  width: 100%;
  text-align: center;
  color: #df6336;
}

.confirm {
  background-color: var(--dark-blue);
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  color: var(--blue-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.confirm:hover {
  background: var(--blue-color);
  color: var(--baby-color);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px var(--blue-color), 0 0 25px var(--blue-color), 0 0 50px var(--blue-color), 0 0 100px var(--blue-color);
  box-shadow: 0 0 5px var(--blue-color), 0 0 25px var(--blue-color), 0 0 50px var(--blue-color), 0 0 100px var(--blue-color);
}

.confirm span {
  position: absolute;
  display: block;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.img_info {
  position: relative;
  height: 80%;
  overflow: hidden;
}

.img_info img {
  width: 100%;
  height: 100%;
}

.img_info:hover .view_item_btn {
  visibility: visible;
  opacity: 0.8;
  height: 50px;
}

.img_info .item_discount {
  position: absolute;
  color: white;
  font-weight: 600;
  background-color: var(--blue-color);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px 10px;
  line-height: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  text-align: center;
}

.img_info .action_btns {
  top: 10px;
  right: -50px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--slow-transition) ease;
  transition: var(--slow-transition) ease;
}

.img_info .action_btns span {
  cursor: pointer;
  padding: 10px;
  border: 0px;
  border-radius: 50%;
  font-size: 18px;
  background: var(--blue-color);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-bottom: 5px;
}

.img_info .action_btns span:hover {
  background-color: var(--Midnight-blue);
}

.img_info:hover .action_btns {
  right: 10px;
  opacity: 1;
  visibility: visible;
}

.item_info {
  line-height: 22px;
}

.item_info .tags a {
  color: var(--blue-color);
  font-size: 0.7rem;
}

.item_info .tags a:hover {
  color: var(--over-blue);
  text-decoration: underline;
}

.item_info .tags a::after {
  content: ',';
}

.item_info .item_title {
  color: white;
  font-weight: 700;
}

.item_info .item_rate {
  height: 20px;
}

.item_info .item_rate::before, .item_info .item_rate::after {
  font-size: 1.4rem;
  line-height: 20px;
  color: var(--baby-color);
}

.item_info .item_rate::after {
  color: var(--Midnight-blue);
}

.item_info .item_rate.stars5::before {
  content: '★★★★★';
}

.item_info .item_rate.stars4::before {
  content: '★★★★';
}

.item_info .item_rate.stars4::after {
  content: '★';
}

.item_info .item_rate.stars3::before {
  content: '★★★';
}

.item_info .item_rate.stars3::after {
  content: '★★';
}

.item_info .item_price .price {
  font-weight: 700;
}

.item_info .item_price .price::before {
  content: '$';
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.item_info .item_price .price.price_before {
  text-decoration: line-through;
  font-size: 1rem;
  color: var(--gray-color);
}

.item_info .item_price .price.price_now {
  font-size: 1.3rem;
  color: var(--baby-color);
}

#main_footer {
  padding-top: 20px;
  background: var(--Midnight-blue);
  margin-top: 70px;
}

#main_footer .container {
  height: 100%;
}

#main_footer .footer_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 480px) {
  #main_footer .footer_content {
    text-align: center;
  }
}

#main_footer .footer_title {
  color: var(--blue-color);
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

#main_footer .column_footer {
  padding: 10px;
  width: 22%;
  border-bottom: 1px solid var(--baby-color);
}

@media (max-width: 768px) {
  #main_footer .column_footer {
    width: 45%;
  }
}

@media (max-width: 480px) {
  #main_footer .column_footer {
    width: 95%;
  }
}

#main_footer img {
  width: 70%;
}

@media (max-width: 768px) {
  #main_footer img {
    width: 50%;
  }
}

#main_footer .footer_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main_footer .footer_links ul li {
  margin-bottom: 7px;
}

#main_footer .footer_links a {
  padding: 10px;
  color: var(--baby-color);
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
}

#main_footer .footer_links a:hover {
  color: var(--over-blue);
}

#main_footer .social_media_footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  #main_footer .social_media_footer_links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#main_footer .social_media_footer_links span {
  font-size: 1.7rem;
  color: var(--baby-color);
  margin: 0px 5px;
  -webkit-transition: var(--slow-transition);
  transition: var(--slow-transition);
}

#main_footer .social_media_footer_links span:hover {
  color: var(--blue-color);
}

#main_footer .footer_of_footer {
  height: 30px;
  line-height: 30px;
  color: var(--blue-color);
  text-align: center;
  background-color: var(--dark-blue);
  font-weight: 600;
}

@media (max-width: 768px) {
  #main_footer .footer_of_footer {
    height: 100px;
    line-height: 50px;
  }
}
/*# sourceMappingURL=main.css.map */