{% extends 'base.html' %} {%block title%}games page{%endblock%} {% block
page_style_css %}
<!-- css with python code-->

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='style/games_page_style.css') }}"
/>

{% endblock %}
 {% block content %}
<!-- content start-->

<div class="black_layer">
      
</div><!-- ./black_layer -->



<div class="container games_container">
  
  <form class="search_bar_for_main_aside flex-center ">
    <div class="form_content flex-center">
      <span class="icon-search flex-center"></span>

    <input type='text' placeholder="search for game" >
    </div><!-- ./form_content -->
   
    <div class="filter_for_small">

      <span class="icon-filter">filtter</span>

    </div><!-- ;/filter_for_small -->
  </form>
  <div class="games_show_slide_container flex-center">
    <section id="games_show">
      <div class="sort_options">
        <span class="sort_text">sort by: </span>
        <span class="sort_option_title">new release</span>
        <span class="icon-angle-double-up"></span>
        <div class="hidden_sort_option_list ">
          <ul>
            <li><span>relevance</span></li>
            <li><span>new release</span></li>
            <li><span>release date</span></li>
            <li><span>alphabetical</span></li>
            <li><span>price:low to heigh</span></li>
            <li><span>price:heigh to low</span></li>
          </ul>
        </div><!-- ./hidden_sort_option_list -->
      </div><!-- ./sort_options -->
      <div class="games_show_content flex-center">
        <!-- ####### item ########### -->
    
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
  
         <!-- ####### item ########### -->
    
         <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
  
  
         <!-- ####### item ########### -->
    
         <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
  
         <!-- ####### item ########### -->
    
         <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
  
         <!-- ####### item ########### -->
    
         <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
        <div class="item">
          <div class="img_info">
            <img
              src="http://127.0.0.1:5000/static/images/Epic_Future_3_300x420_crop_center.jpg"
              alt="game_img"
            />
            <div class="view_item_btn">
              <a href="#">quick view</a>
            </div>
            <!-- ./view_item_btn -->
            <div class="item_discount">-17%</div>
            <!-- ./item_discount -->
            <div class="action_btns">
              <div class="add_to_card_btn">
                <span class="icon-shopping-cart"></span>
              </div>
              <div class="add_to_wich_list_btn">
                <span class="icon-heart"></span>
              </div>
            </div>
            <!-- ./action_btns -->
          </div>
          <!-- ./img_info -->
          <div class="item_info">
            <div class="tags">
              <a href="#">Featured Product</a>
              <a href="#">Horor</a>
              <a href="#">ACTION</a>
              <a href="#">FPS</a>
            </div>
            <!-- ./tags -->
            <div class="item_title">Gas Station 5</div>
            <!-- ./item_title -->
            <div class="item_rate stars5"></div>
            <!-- ./item_rate -->
            <div class="item_price">
              <span class="price price_before">59.00</span>
              <span class="price price_now">49.00</span>
            </div>
            <!-- ./item_price -->
          </div>
          <!-- ./item_info -->
        </div>
        <!-- ####### item ########### -->
      </div><!-- ./games_show_content -->
  
      <div class="page_result_togle">
      
        <ul class="flex-center">
          <li><a href="#">
            <span class="icon-angle-double-up"></span>
          </a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">
            <span class="icon-angle-double-up"></span>
          </a></li>
        </ul>
  
      </div><!-- ./page_result_togle -->
    </section><!-- games_show -->
    
    
    <aside class="main_aside">
  
      <div id="close_over_filtter_btn" class="close_over_lay_btn flex-center">
        <span></span><span></span>
      </div><!-- ./close_over_lay_btn -->
  
      <h3 class="filter_text">filters:</h3>
    <div class="filters_options_container">
      <div class="filter_option flex-center">
        <div class="fliter_option_title">
          price 
          <span class="icon-chevron-down "></span>
        </div><!-- ./fliter_option_title -->
        <ul class="fliter_option_list">
          <li><span>free</span></li>
          <li><span>under 5$</span></li>
          <li><span>under 10$</span></li>
          <li><span>under 30$</span></li>
        </ul>
      </div><!-- ./filter_option -->
      
      <div class="filter_option flex-center">
        <div class="fliter_option_title">
          price 
          <span class="icon-chevron-down "></span>
        </div><!-- ./fliter_option_title -->
        <ul class="fliter_option_list">
          <li><span>free</span></li>
          <li><span>under 5$</span></li>
          <li><span>under 10$</span></li>
          <li><span>under 30$</span></li>
        </ul>
      </div><!-- ./filter_option -->
  
      <div class="filter_option flex-center">
        <div class="fliter_option_title">
          price 
          <span class="icon-chevron-down "></span>
        </div><!-- ./fliter_option_title -->
        <ul class="fliter_option_list">
          <li><span>free</span></li>
          <li><span>under 5$</span></li>
          <li><span>under 10$</span></li>
          <li><span>under 30$</span></li>
        </ul>
      </div><!-- ./filter_option -->
  
      <div class="filter_option flex-center">
        <div class="fliter_option_title">
          price 
          <span class="icon-chevron-down "></span>
        </div><!-- ./fliter_option_title -->
        <ul class="fliter_option_list">
          <li><span>free</span></li>
          <li><span>under 5$</span></li>
          <li><span>under 10$</span></li>
          <li><span>under 30$</span></li>
        </ul>
      </div><!-- ./filter_option -->
      
  
      <div class="filter_option flex-center">
        <div class="fliter_option_title">
          price 
          <span class="icon-chevron-down "></span>
        </div><!-- ./fliter_option_title -->
        <ul class="fliter_option_list">
          <li><span>free</span></li>
          <li><span>under 5$</span></li>
          <li><span>under 10$</span></li>
          <li><span>under 30$</span></li>
        </ul>
      </div><!-- ./filter_option -->
      
  
      
      
    </div><!-- ./filters_options_container -->    
    </aside><!-- ./main aside bar -->
    
    
    
  </div><!-- ./games_show_slide_container -->


</div><!-- ./container -->



<!-- content end-->
{% endblock %}


 {% block js_src %}
<!-- js code-->

  <script>
    // var:
      let main_aside = document.querySelector('.main_aside');
      let black_layer = document.querySelector('.black_layer');
      let fillter_btn_asside = document.querySelector('.filter_for_small')
    // ###################################################################

    let sort_option_title = document.querySelector('.sort_option_title');
    sort_option_title.onclick = function(){
      document.querySelector('.hidden_sort_option_list').classList.toggle('sort_list_open');
      document.querySelector('.icon-angle-double-up').classList.toggle('sort_arrow_down');
    }

    let fliter_option_titles = document.querySelectorAll('.fliter_option_title');
    let fliter_option_list = document.querySelectorAll('.fliter_option_list');
    fliter_option_titles.forEach(function(item,index){
      item.onclick = ()=>{
      
        fliter_option_list[index].classList.toggle('fliter_option_list_zoro_hight');
      }
    });
    // ###################################################################
    // show or hidde the filter button :
    function oky_aside_size (size){
      console.log('df');
      // I re write the ligne window.mathMedia ... because we use the the function 
      // when the page is reload 
      // if I don't use these metode it will show an error 
      // {we can note pute .matches to indefing (he mean e of add event listener)}
      // {e dont have any value intill the media (992px matche )}
      if(window.matchMedia('(max-width: 992px)').matches){
        fillter_btn_asside.classList.add('filter_for_small_show');

      }else{
        fillter_btn_asside.classList.remove('filter_for_small_show');

      }
    }
    oky_aside_size();
    window.matchMedia('(max-width: 992px)').addEventListener('change',oky_aside_size);






    // ###################################################################
    fillter_btn_asside.onclick = open_filtter_list;
    function open_filtter_list(){
      main_aside.classList.add('main_aside_visble');
      black_layer.classList.add('over_layer_open');
    }





    // close the over layer and filter asside:
      document.getElementById("close_over_filtter_btn").onclick = close_filtter_list;

      function close_filtter_list(){
        main_aside.classList.remove('main_aside_visble');
        black_layer.classList.remove('over_layer_open');


        
      }
    

    // ##############################################


  </script>



{% endblock %}
