<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <!-- font_family start -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- font_family end -->

    <!-- normalize style start -->
    <link rel="stylesheet" href="style/normalize.css">
    <!-- normalize style end -->

    <!-- main style css start -->
    <link rel="stylesheet" href="style/main.css">
    <!-- main style css end -->

</head>



<body>


    <header id="main_header">
        <div class="container">
            <div class="main_header_content">
                <div class="logo">
                    <img src="images/logo.png" alt="logo">
                </div><!-- ./logo -->
                <div class="nav_links">
                    <div id="mb_nav_btn" class="flex-center">
                        <span></span>
                        <span></span>
                        <span></span>

                    </div><!-- ./mb_nav_btn -->


                    <nav id="main_nav_of_links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Top ever</a></li>
                            <li><a href="#">Trend</a></li>

                        </ul>
                    </nav>
                </div><!-- ./nav_links -->
                <div class="user_links">
                    <ul>
                        <li><a href="sing_in.html"><span class="icon-user"></span></a></li>
                        <li><a href="#"><span class="icon-search"></span></a></li>
                        <li><a href="#"><span class="icon-heart"></span></a></li>
                        <li><a href="#"><span class="icon-shopping-cart"></span></a></li>

                    </ul>
                </div><!-- ./user_links -->
            </div>
        </div><!-- ./container -->
    </header>


    <section class="extra_show">
        <div class="container">
            <div class="extra_show_content">
                <div class="item">
                    <div class="item_big background_class">
                        <div class="off_discont off_discont_type1"><span>50% OFF</span></div>
                        <a class="confirm shop_now_link" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Shop Now
                        </a>
                    </div><!-- ./item_big -->
                </div><!-- ./grid_item_big -->

                <div class="item">
                    <div class="item_simple background_class">
                        <!-- <div class="off_discont"><span>50% OFF</span></div> -->

                        <a class="confirm shop_now_link" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Shop Now
                        </a>
                    </div><!-- ./grid_item_simple -->
                    <div class="item_simple background_class">
                        <div class="off_discont off_discont_type2"><span>20% OFF</span></div>

                        <a class="confirm shop_now_link" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Shop Now
                        </a>
                    </div><!-- ./grid_item_simple -->
                </div>

            </div><!-- ./extra_grid_show_content -->
        </div><!-- ./container -->
    </section>








    <script src="js/main.js"></script>
</body>

</html>