<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasser & 3amar Project</title>
    <!-- font_family start -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- font_family end -->




    <!-- main style css start -->
    <!--    <link rel="stylesheet" href="style/sing.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/sing.css') }}">
    <!-- main style css end -->



</head>

<body>

    <!-- top header start  -->

    <!-- top header end -->


    <!-- login form start -->

    <section class="sing_form">
        <div class="sing-box">
            <h2>SIGN UP!</h2>
            <form method="POST" onsubmit="return valid_form()">
                <div class="user-box">
                    <input type="text" name="username" required="true">
                    <label>Username</label>
                    <!-- هنعمل ستايل أخر لهذا الديف و الإرورز  -->
                    {% if errors.get('username')%}
                    <div class="valid_message valid_user valid_message_false">{{ errors.get('username') }}</div>
                    {% else%}
                    <div class="valid_message valid_user valid_message_true"></div>
                    {% endif %}
                </div>
                <div class="user-box">
                    <input required='true' type="text" name="email">
                    <label for="">Email</label>
                    <div class="valid_message valid_email valid_message_true">invalid address email !</div>

                </div>
                <div class="user-box">
                    <input required='true' type="password" name="password">
                    <label for="">Password</label>
                    <div class="valid_message valid_pass valid_message_true">password must be more 5 characters</div>
                </div>
                <div class="user-box">
                    <input required='true' type="password" name="confirm">
                    <label for="">Confirm Password</label>
                    <div class="valid_message valid_confirm valid_message_true">password not much !</div>

                </div>

                <button id="confirm" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Sing Up
                </button>
                <a class="other_links" href="{{ url_for('login_page') }}">you already have account Sing in</a>
            </form>
        </div>
    </section>

    <!-- ./login form end -->













    <!-- java script files src start -->
    <script src="{{url_for('static', filename='js/validate_reg.js')}}"></script>
    <!-- java script files src end -->

    <script>
        alert('hello');
    </script>

</body>

</html>