<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasser & 3amar Project</title>
    <!-- font_family start -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- font_family end -->





    <!-- main style css start -->
    <!-- <link rel="stylesheet" href="style/sing.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/sing.css') }}">
    <!-- main style css end -->



</head>

<body>



    <!-- sing form start -->

    <section class="sing_form">
        <div class="sing-box">
            <h2>SIGN IN!</h2>
            <form method="POST">

                <div class="user-box">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>

                <div class="user-box">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
                {% if errors %}
                <div>{{ errors }}</div>
                {% endif %}
                <!--onclick="this.parentNode.submit();"-->
                <button id="confirm" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Sing Up
                </button>
                <a class="other_links" id="recovery_password" href="{{ url_for('recovery_page') }}">Recovery
                    password</a>
                <a class="other_links" href="{{ url_for('registration_page') }}">you don't have account Sing Up</a>
            </form>
        </div>
    </section>

    <!-- ./sing form end -->



    <!-- java script files src start -->
    <script>
        {# Delet All Data         # }
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <!-- java script files src end -->


</body>

</html>